HomeChallange5_CostaPoloSalani/json
[{"id":"e1f2d42e.78b618","type":"tab","label":"exec-dashboard","disabled":false,"info":""},{"id":"b5da588a.68ffe8","type":"tcp in","z":"e1f2d42e.78b618","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":190,"y":80,"wires":[["5623bedd.971998"]]},{"id":"bf4555eb.ec3198","type":"function","z":"e1f2d42e.78b618","name":"Thingspeak Message Configuration","func":"var data = msg.payload;\nmsg.topic = \"channels/1070791/publish/fields/field1/C5S16PQICUW1DM3J\";\nmsg.payload=data;\nreturn msg","outputs":1,"noerr":0,"x":790,"y":260,"wires":[["c2ea87a6.9e4508"]]},{"id":"c2ea87a6.9e4508","type":"delay","z":"e1f2d42e.78b618","name":"","pauseType":"rate","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":400,"wires":[["f1f4606a.bf0148"]]},{"id":"5623bedd.971998","type":"switch","z":"e1f2d42e.78b618","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"777","vt":"str"},{"t":"cont","v":"999","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":300,"wires":[["5457333d.66611c"],["dd42b82e.42ea68"]]},{"id":"5457333d.66611c","type":"split","z":"e1f2d42e.78b618","name":"","splt":"dE: ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":250,"y":260,"wires":[["5a6fa916.0195f"]]},{"id":"481f8f90.5e48b","type":"function","z":"e1f2d42e.78b618","name":"Thingspeak Message Configuration","func":"var data = msg.payload;\nmsg.topic = \"channels/1070791/publish/fields/field2/C5S16PQICUW1DM3J\";\nmsg.payload=data;\nreturn msg","outputs":1,"noerr":0,"x":790,"y":320,"wires":[["c2ea87a6.9e4508"]]},{"id":"dd42b82e.42ea68","type":"split","z":"e1f2d42e.78b618","name":"","splt":"dE: ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":270,"y":320,"wires":[["d0da88cb.7be88"]]},{"id":"f1f4606a.bf0148","type":"mqtt out","z":"e1f2d42e.78b618","name":"Prima parte","topic":"","qos":"0","retain":"","broker":"ec51ba5e.8ea538","x":1050,"y":400,"wires":[]},{"id":"5a6fa916.0195f","type":"function","z":"e1f2d42e.78b618","name":"","func":"var data= msg.payload;\ndata= parseInt(data);\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["d017d5bc.acaa88"]]},{"id":"d0da88cb.7be88","type":"function","z":"e1f2d42e.78b618","name":"","func":"var data= msg.payload;\ndata= parseInt(data);\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":320,"wires":[["4611b997.30d7e8"]]},{"id":"d017d5bc.acaa88","type":"switch","z":"e1f2d42e.78b618","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"70","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":260,"wires":[["bf4555eb.ec3198","ef373ba7.dc3d88"]]},{"id":"4611b997.30d7e8","type":"switch","z":"e1f2d42e.78b618","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"70","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":320,"wires":[["481f8f90.5e48b","dad7888c.a09aa"]]},{"id":"ef373ba7.dc3d88","type":"debug","z":"e1f2d42e.78b618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":160,"wires":[]},{"id":"dad7888c.a09aa","type":"debug","z":"e1f2d42e.78b618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":400,"wires":[]},{"id":"ec51ba5e.8ea538","type":"mqtt-broker","z":"","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
